.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image1 {
    height: 75px;
    width: 75px;
}

.Container a {
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

.image2 {
    height: 20px;
    width: 20px;
}

.image3 {
    height: 30px;
    width: 30px;
}
.image1 {
    height: 75px;
    width: 75px;
}

.Container a {
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

.image2 {
    height: 20px;
    width: 20px;
}

.image3 {
    height: 30px;
    width: 30px;
}


.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.top-row a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    padding-left: 20px;
    font-size: larger;
}

.lbl1,
.lbl2,
.lbl3,
.lbl4,
.lbl5 {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

.lbl5{
    margin-left: 300px;
}

.lbl3{
    margin-left: 140px;
}

.lbl4{
    margin-left: 150px;
}

.image4,
.image5,
.image6,
.image7,
.image8 {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.image4,
.image5 {
    width: 100%;
}

.image5{
    width: 50%;
}

.image6,
.image7 {
    width: 300%;
}

.image6{
    width: 100%;
    padding-left: 200px;
}

.image7{
    width: 50%;
}

.image8 {
    margin-top: 50px;
    width: 35%;
}

.image6{
    margin-left: -175px;
}

.image7{
    margin-left: -175px;
}

.Container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.p1 {
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: larger;
}

.p1 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    padding-left: 50px;
    font-size: x-larger;
}